body{
    background:linear-gradient(
        #73faff,#ff00c8);
    text-align: center;
    }
    h1{
        color: blueviolet;
    }
    .line{
        background-color: black;
        height: 10px;
        width: 200px;
        margin: auto;
        
    }